.navbar{
    background-color: #22415c;   
    position: sticky;
    top: 0;
    height: 56px;
    display: flex;
    min-width: 200px;
    align-items: center;
    grid-gap: 20px;
    color: white;
    z-index: 100;
}
.navbar .leftNav .menuIcon{
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #22415c;
    border-radius: 5px;
}
.navbar .leftNav {
 margin-right: auto;
 margin-left: 10px;
}
.navbar .bellNavContainer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: .1s all;
    cursor: pointer;
}
/* .navbar img{
    width: 30px;
    object-fit: cover;
} */
.navbar .profileNav{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.navbar .bellNav{
    width: 20px;
    object-fit: cover;
}
.navbar .righNavProfile{
    display: flex;
    align-items: center;
    grid-gap: 10px;
    position: relative;
    cursor: pointer;
    height: 100%;
    padding: 0 10px;
    transition: .1s all;

}
.navbar .bellNavContainer:hover{
    background-color: rgb(19, 171, 177);
}
.navbar .righNavProfile:hover{
    background-color: rgb(19, 171, 177);
}

.navbar .scrollProfile{
    position: absolute;
    /* z-index: 100; */
    top: 100%;
    right: 0;
    color: black;
    background-color: rgb(255, 255, 255);
    /* border-radius: 10px; */
    /* width: 91px; */
    width: 100%;
    font-size: 13px;
    transition: 4s all;
    box-shadow: 0 1rem 1.1rem rgb(0 0 0 / 10%);
    padding: 5px 0;
    
}

.navbar .scrollProfile ul{
    color: black;
    
}
.navbar a{
    text-decoration: none;
    color: black;
    
}
.navbar .scrollProfile li{
    padding: 3px 7px;
    transition: .4s all;
    padding: 3px 7px;
}
.navbar .scrollProfile li:hover{
    background-color: rgb(168, 162, 162);

}