div.layout .content{
    position: relative;
    /* background-color: red; */
    
    left: 250px;
    /* width: calc(100% - 200px); */
    z-index: 66;
}
.layout .content{
    width: calc(100% - 250px);
}